table.mout-estimation-table td {
    border: 0;
    font-family: $mout-font-light;
}

table.mout-estimation-table th {
    font-family: $mout-font;
    font-size: 25px;
    text-transform: uppercase;
}

table td.estimation-title {
    font-family: $mout-font;
    font-size: 20px;
}
