// Toggle switch button //
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e30000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #349360;
}

input:focus + .slider {
    box-shadow: 0 0 1px #349360;
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

// !!Toggle switch button!! //

[class*=" mout-btn-"] {
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 700 !important;

    &:hover {
        .btn-label {
            opacity: 1;
            margin-right: 10px;
        }
    }
}

.mout-btn-add {
    background-color: #D90000 !important;
}

.mout-btn-login,
.mout-btn-edit {
    background-color: #7A63F9 !important;
}

.mout-btn-other {
    background-color: #03DBC2 !important;
}

.mout-btn-pdf {
    background-color: #FF9D00 !important;
}

.btn-label {
    opacity: 0;
}
