// Mout Public

div.mout-pub-panel {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    display: flex;

    &#top-panel {
        left: 0;
        width: 100%;
        height: 50px;
        justify-content: flex-end;
        padding-right: 30px;
    }

    &#left-panel {
        left: 0;
        width: 50px;
        height: 100vh;
        justify-content: center;
        align-items: center;

        & div.mout-pub-rs-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & i {
                margin: 10px auto;
            }
        }
    }

    &#right-panel {
        right: 0;
        width: 50px;
        height: 100vh;
    }
}

header {
    & div.mout-pub-header-container {
        background-color: #000000;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;

        & H1 {
            font-family: $mout-font;
            font-size: 90px;
            color: yellow;
        }

        & h2 {
            font-family: $mout-font;
            font-size: 60px;
        }
    }
}
