@charset "UTF-8";

body {
  background-color: #ffffff !important;
}

svg.burger {
  width: 3rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

svg.burger .burger__line.top {
  stroke-dasharray: 40 139;
}

svg.burger .burger__line {
  fill: none;
  transition: stroke-dasharray 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), stroke-dashoffset 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

svg.burger .burger__line.bottom {
  stroke-dasharray: 40 180;
}

svg.burger.active {
  transform: rotate(45deg);
}

svg.burger.active .burger__line.top {
  stroke-dashoffset: -98px;
}

svg.burger.active .burger__line.bottom {
  stroke-dashoffset: -138px;
}

nav.mout-burger-nav {
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  align-items: flex-end;
  cursor: pointer;
  position: relative;
}

nav.mout-burger-nav span {
  height: 4px;
  background-color: black;
  border-radius: 5px;
  position: absolute;
}

nav.mout-burger-nav span.line-top {
  top: 0;
}

nav.mout-burger-nav span.line-top,
nav.mout-burger-nav span.line-bot {
  width: 30px;
}

nav.mout-burger-nav span.line-mid {
  width: 41px;
  top: 40%;
}

nav.mout-burger-nav span.line-bot {
  bottom: 0;
}

nav.mout-burger-nav.nav-active span.line-top {
  top: 40%;
  transition: all .5s ease-in-out;
}

nav.mout-burger-nav.nav-active span.line-mid {
  transform: rotate(900deg);
  transition: all .7s ease-in-out;
}

nav.mout-burger-nav.nav-active span.line-bot {
  bottom: 42%;
  transition: all .5s ease-in-out;
}

nav.mout-burger-nav.nav-active span.line-top.active {
  transform: rotate(140deg);
  transition: all .5s ease-in-out;
}

nav.mout-burger-nav.nav-active span.line-mid.disactivated {
  display: none;
}

nav.mout-burger-nav.nav-active span.line-bot.active {
  transform: rotate(-140deg);
  transition: all .5s ease-in-out;
}

div.mout-pub-panel#top-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
  padding-right: 70px;
  z-index: 1000;
  background: #ffffff;
  cursor: pointer;
}

header div.mout-pub-header-container {
  position: relative;
  background-color: #000000;
  height: calc(100vh - 100px);
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 50px auto;
}

header div.mout-pub-header-container H1 {
  font-family: "AristaProAlternateLight";
  font-size: 90px;
  color: yellow;
}

header div.mout-pub-header-container h2 {
  font-family: "AristaProAlternateLight";
  font-size: 60px;
}

header div.mout-pub-panel {
  position: absolute;
  top: 50px;
  display: flex;
  height: calc(100% - 50px);
  align-items: center;
  justify-content: center;
}

header div.mout-pub-panel#left-panel {
  left: 0;
  width: 50px;
  height: calc(100% - 50px);
  justify-content: center;
  align-items: center;
}

header div.mout-pub-panel#left-panel div.mout-pub-rs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header div.mout-pub-panel#left-panel div.mout-pub-rs-container i {
  margin: 10px auto;
}

section.mout-description-section {
  width: 60%;
  margin: 3em auto;
  text-align: center;
  font-family: "AristaProAlternateLight";
}

section.mout-description-section H3 {
  font-size: 40px;
}

section.mout-description-section div.mout-description-container {
  display: grid;
  margin: 3em auto 0;
  grid-template-rows: 80px;
  grid-template-columns: repeat(10, 1fr);
  font-size: 20px;
  width: 55%;
}

section.mout-description-section div.mout-description-container span.wording-description-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section.mout-description-section div.mout-description-container span.wording-description-container span.wording-description {
  display: none;
}

section.mout-description-section div.mout-description-container span.wording-description-container:hover i {
  display: none;
}

section.mout-description-section div.mout-description-container span.wording-description-container:hover span.wording-description {
  display: block;
  background-color: #FFFF00;
  padding: 4px 15px;
  line-height: 30px;
  margin: 3px 5px;
}

section.mout-description-section div.mout-description-container span.wording-description-container:nth-of-type(1),
section.mout-description-section div.mout-description-container span.wording-description-container:nth-of-type(3),
section.mout-description-section div.mout-description-container span.wording-description-container:nth-of-type(5),
section.mout-description-section div.mout-description-container span.wording-description-container:nth-of-type(7),
section.mout-description-section div.mout-description-container span.wording-description-container:nth-of-type(10) {
  align-self: end;
}

section.mout-description-section div.mout-description-container span.wording-description-container:nth-of-type(6),
section.mout-description-section div.mout-description-container span.wording-description-container:nth-of-type(9) {
  align-self: center;
}

section.mout-description-section div.mout-description-container span.wording-description-container:nth-of-type(10) > i {
  transform: rotate(-30deg);
}

section.mout-services-description {
  margin: 3em auto;
  text-align: center;
  font-family: "AristaProAlternateLight";
}

section.mout-services-description H3 {
  font-size: 70px;
  color: #E4E4E4;
}

section.mout-services-description div.services-icon-container {
  width: 100%;
  margin: 3em auto;
  position: relative;
  display: flex;
  justify-content: center;
}

section.mout-services-description div.services-icon-container a {
  font-size: 30px;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin: 0 3em;
  text-transform: capitalize;
  z-index: 1001;
}

section.mout-services-description div.services-icon-container a:hover {
  text-decoration: none;
}

section.mout-services-description div.services-icon-container a:hover:nth-of-type(1) {
  color: #7A63F9;
}

section.mout-services-description div.services-icon-container a:hover:nth-of-type(2) {
  color: #FF9D00;
}

section.mout-services-description div.services-icon-container a:hover:nth-of-type(3) {
  color: #03DBC2;
}

section.mout-services-description div.services-icon-container a i {
  font-size: 30px;
}

section.mout-services-description div.services-icon-container a i:before {
  background-color: #ffffff;
}

section.mout-services-description div.services-icon-container a:nth-of-type(1) i {
  color: #7A63F9;
}

section.mout-services-description div.services-icon-container a:nth-of-type(2) i {
  color: #FF9D00;
}

section.mout-services-description div.services-icon-container a:nth-of-type(3) i {
  color: #03DBC2;
}

section.mout-services-description div.services-icon-container a.link-active#conseil {
  color: #7A63F9;
}

section.mout-services-description div.services-icon-container a.link-active#creation {
  color: #FF9D00;
}

section.mout-services-description div.services-icon-container a.link-active#web {
  color: #03DBC2;
}

section.mout-services-description div.services-icon-container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E4E4E4;
  z-index: 1000;
  top: 75px;
}

section.mout-services-description div.services-description-container {
  display: flex;
  position: relative;
}

section.mout-services-description div.services-description-container div.services-description-content {
  width: 100%;
  display: none;
}

section.mout-services-description div.services-description-container div.services-description-content.active {
  display: block;
}

section.mout-services-description div.services-description-container {
  margin-top: 1em;
}

section.mout-services-description div.services-description-container div.services-description-content H4 {
  font-size: 42px;
}

section.mout-services-description div.services-description-container div.services-description-content#conseil H4 {
  color: #7A63F9;
}

section.mout-services-description div.services-description-container div.services-description-content#creation H4 {
  color: #FF9D00;
}

section.mout-services-description div.services-description-container div.services-description-content#web H4 {
  color: #03DBC2;
}

section.mout-services-description div.services-description-container div.services-description-content p {
  font-family: "Assistant";
  font-weight: 200;
  color: #707070;
  width: 50%;
  margin: 1em auto 4em;
  text-align: center;
}

section.mout-services-description div.services-description-container div.services-description-content a {
  color: #ffffff;
  border-radius: 0;
}

section.mout-services-description div.services-description-container div.services-description-content#conseil a {
  background-color: #7A63F9;
}

section.mout-services-description div.services-description-container div.services-description-content#conseil a:hover {
  color: #7A63F9;
  background-color: #ffffff;
  border: 1px solid #7A63F9;
}

section.mout-services-description div.services-description-container div.services-description-content#creation a {
  background-color: #FF9D00;
}

section.mout-services-description div.services-description-container div.services-description-content#creation a:hover {
  color: #FF9D00;
  background-color: #ffffff;
  border: 1px solid #FF9D00;
}

section.mout-services-description div.services-description-container div.services-description-content#web a {
  background-color: #03DBC2;
}

section.mout-services-description div.services-description-container div.services-description-content#web a:hover {
  color: #03DBC2;
  background-color: #ffffff;
  border: 1px solid #03DBC2;
}

section.mout-realisations {
  margin: 3em auto;
  text-align: center;
  font-family: "AristaProAlternateLight";
}

section.mout-realisations H3 {
  font-size: 40px;
}

@-webkit-keyframes navigation-line-top {
  0% {
    top: 0;
  }

  50% {
    top: 40%;
  }

  100% {
    transform: rotate(120deg);
  }
}

@keyframes navigation-line-top {
  0% {
    top: 0;
  }

  50% {
    top: 40%;
  }

  100% {
    transform: rotate(120deg);
  }
}

body {
  color: #262b36 !important;
}

div.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

img.mout-login-portrait {
  width: 20px;
  height: 20px;
}

span.mout-log-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

header div.mout-header-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #262b36;
}

header div.mout-header-panel div.mout-logo-panel {
  width: 220px;
  position: absolute;
  left: 0;
  height: 64px;
  padding: 18px 15px;
  background-color: #CBD2D5;
}

header div.mout-header-panel div.mout-logo-panel H2 {
  margin: 0;
  text-align: center;
  font-family: "Assistant";
  text-transform: uppercase;
}

header div.mout-header-panel div.mout-header-bar {
  margin-left: 220px;
  position: relative;
  height: 64px;
}

header div.mout-header-panel div.mout-header-bar div.header-bar-right {
  float: right;
  padding-right: 20px;
}

header div.mout-header-panel div.mout-header-bar div.header-bar-right ul.header-bar-right-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

header div.mout-header-panel div.mout-header-bar div.header-bar-right ul.header-bar-right-menu li.header-bar-right-menu-list {
  display: inline-block;
  float: left;
  position: relative;
}

header div.mout-header-panel div.mout-header-bar div.header-bar-right ul.header-bar-right-menu li.header-bar-right-menu-list div.btn-group {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div.mout-header-panel div.mout-header-bar div.header-bar-right ul.header-bar-right-menu li.header-bar-right-menu-list div.btn-group a {
  padding: 10px;
  color: #ffffff;
}

header div.mout-header-panel div.mout-header-bar div.header-bar-right ul.header-bar-right-menu li.header-bar-right-menu-list div.btn-group a:hover {
  color: #259dab;
}

header div.mout-header-panel div.mout-header-bar div.header-bar-right ul.header-bar-right-menu li.header-bar-right-menu-list div.btn-group button.btn {
  border-radius: 0;
  background-color: transparent;
  color: #778395;
  height: 64px;
  border: 0;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header div.mout-header-panel div.mout-header-bar div.header-bar-right ul.header-bar-right-menu li.header-bar-right-menu-list div.btn-group button.btn img {
  margin-right: 10px;
}

header ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  display: none;
}

header ul.drop-menu.pull-right {
  right: 0;
  left: auto;
}

header ul.drop-menu.pull-right li {
  color: #000000;
}

header ul.drop-menu.pull-right li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42;
  color: #333333 !important;
  white-space: nowrap;
}

header ul.drop-menu.pull-right.open {
  display: block;
}

header ul.drop-menu.pull-right.open:after {
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: "";
  display: inline-block;
  right: 17px;
  position: absolute;
  top: -7px;
}

div.mout-left-panel {
  background-color: #ffffff;
  width: 220px;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0px;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-left-panel-profil {
  padding: 15px;
  background-color: #3b4354;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-left-panel-profil div.mout-profil-left {
  display: table-cell;
  vertical-align: top;
  padding-right: 15px;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-left-panel-profil div.mout-profil-left img {
  width: 40px;
  height: 40px;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-left-panel-profil div.mout-profil-right {
  display: table-cell;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.4;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-left-panel-profil div.mout-profil-right H4 {
  margin: 7px 0 2px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-left-panel-profil div.mout-profil-right H4 a {
  font-size: 10px;
  margin: 2px 0 0 5px;
}

div.mout-left-panel div.mout-left-panel-informations ul.nav-tabs.nav-justified.nav-sidebar {
  margin-top: 0;
  background-color: #657390;
  margin-bottom: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width: 100%;
  border-bottom: 0;
  padding-left: 0;
  list-style: none;
}

div.mout-left-panel div.mout-left-panel-informations ul.nav-tabs.nav-justified.nav-sidebar > li.mout-pan-top {
  position: relative;
  display: table-cell;
  width: 1%;
  float: none;
  text-align: center;
}

div.mout-left-panel div.mout-left-panel-informations ul.nav-tabs.nav-justified.nav-sidebar > li.mout-pan-top > a {
  border-radius: 0;
  background-color: #505b72;
  color: #fff;
  padding: 8px 10px;
  font-size: 14px;
  vertical-align: bottom;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: .2px;
  font-family: "Assistant";
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  border: 0;
  transition: all 0.2s ease-out 0s;
  line-height: 1.42857143;
  display: block;
}

div.mout-left-panel div.mout-left-panel-informations ul.nav-tabs.nav-justified.nav-sidebar > li.mout-pan-top.active > a {
  background-color: #fff;
  color: #262b36;
}

div.mout-left-panel div.mout-left-panel-informations ul.nav-tabs.nav-justified.nav-sidebar > li.mout-pan-top + li > a {
  margin-left: 1px;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content div.mout-tab-pane {
  padding: 0;
  background-color: transparent;
  display: none;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content div.mout-tab-pane h5.mout-tab-title {
  text-transform: uppercase;
  font-size: 11px;
  color: #9fa8bc;
  line-height: normal;
  padding: 0 15px;
  font-weight: 500;
  letter-spacing: .5px;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content div.mout-tab-pane.active {
  display: block;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content nav {
  padding-left: 0;
  list-style: none;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk {
  padding-left: 0;
  margin: 0 0 30px;
  background-color: #ffffff;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk > li {
  border-top: 1px solid #eaecf0;
  text-transform: uppercase;
  float: none;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk > li > div.nav-parent-container {
  position: relative;
  display: block;
  color: #505b72;
  cursor: pointer;
  padding: 12px 14px;
  border-radius: 0;
  font-weight: 700;
  transition: all 0.2s ease-out 0s;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk > li > div.nav-parent-container > i {
  width: 16px;
  font-size: 14px;
  text-align: center;
  margin-right: 7px;
  color: #259dab;
  vertical-align: top;
  margin-top: 1.5555px;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk > li > a {
  position: relative;
  display: block;
  color: #505b72;
  padding: 12px 14px;
  border-radius: 0;
  font-weight: 700;
  transition: all 0.2s ease-out 0s;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk > li > a > i {
  width: 16px;
  font-size: 14px;
  text-align: center;
  margin-right: 7px;
  color: #259dab;
  vertical-align: top;
  margin-top: 1.5555px;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk .nav-parent > a:after,
div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk .nav-parent > div.nav-parent-container:after {
  content: '\f078';
  font-family: "Font Awesome 5 Pro";
  font-size: 16px;
  font-weight: 900;
  color: #bdc3d1;
  position: absolute;
  top: 10px;
  right: 15px;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk .nav-parent ul.nav-children {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
  position: relative;
  border-top: 1px solid #eaecf0;
  background-color: #f6f7f8;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk .nav-parent ul.nav-children.slide {
  display: block;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk .nav-parent ul.nav-children > li {
  margin-left: 21px;
  border-left: 1px solid #dbdfe6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  letter-spacing: normal;
  display: block;
  font-size: 12px;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk .nav-parent ul.nav-children > li > a {
  display: block;
  font-weight: 400;
  padding: 5px 0 5px 18px;
  color: #657390;
  position: relative;
  text-decoration: none;
  height: 28px;
  transition: all 0.2s ease-out 0s;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk .nav-parent ul.nav-children > li > a:hover:after {
  opacity: 1;
  border-color: #657390;
  width: 11px;
  height: 11px;
  left: -6px;
  margin-top: -6px;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk .nav-parent ul.nav-children > li > a:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  left: -3px;
  top: 50%;
  background-color: #9fa8bc;
  margin-top: -3px;
  border-radius: 50px;
  transition: all 0.2s ease-out 0s;
}

div.mout-left-panel div.mout-left-panel-informations div.mout-tab-content ul.nav-quirk .nav-parent ul.nav-children > li > a:after {
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #a0a8b9;
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -15px;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.2s ease-out 0s;
}

div.mout-main-panel {
  padding-top: 64px;
  margin-left: 220px;
}

div.mout-content-panel {
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 64px);
  background-color: #d8dce3 !important;
}

div.mout-content-panel h2 {
  width: 80%;
  position: relative;
  font-family: "Assistant";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4em;
}

div.mout-content-panel div.mout-create-navigation-container {
  top: 2%;
  right: 10%;
  position: absolute;
}

div.mout-content-panel div.mout-create-navigation-content,
div.mout-content-panel div.mout-edit-navigation-content {
  position: absolute;
  width: 100%;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100vh - 64px);
  right: -100%;
  transition: all .5s ease-in-out;
  z-index: 1000;
}

div.mout-content-panel div.mout-create-navigation-content.showNav,
div.mout-content-panel div.mout-edit-navigation-content.showNav {
  right: 0;
}

div.mout-content-panel div.mout-create-navigation-content div:nth-of-type(1),
div.mout-content-panel div.mout-edit-navigation-content div:nth-of-type(1) {
  background: rgba(255, 255, 255, 0.95);
}

div.mout-content-panel div.mout-create-navigation-content div.mout-create-element-form-container,
div.mout-content-panel div.mout-edit-navigation-content div.mout-create-element-form-container {
  padding: 20px;
  box-shadow: -2px -1px 6px 2px rgba(112, 112, 112, 0.15);
  background-color: #ffffff;
}

div.mout-content-panel ul.drag-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

div.mout-content-panel ul.drag-nav li.drag-nav-list {
  width: 400px;
  line-height: 2.5em;
  cursor: pointer;
  background: #fafafa;
  margin: 1em 0;
  border: 1px solid #c9c9c9;
  padding-left: 10px;
}

div.mout-content-panel ul.drag-nav li.drag-nav-list.nav-depth {
  margin-left: 20px;
}

div.mout-content-panel div.mout-bo-section-container {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
}

table.mout-bo-table {
  width: 100%;
}

table.mout-bo-table thead {
  box-shadow: 1px 2px 4px 3px rgba(112, 112, 112, 0.15);
  line-height: 3em;
}

table.mout-bo-table tbody > tr {
  background-color: transparent !important;
  line-height: 2em;
}

table.mout-bo-table td:nth-of-type(1) {
  padding: 0;
  line-height: 1em;
}

table.mout-bo-table td:nth-of-type(2) {
  text-align: left;
}

table.mout-bo-table td {
  padding: 5px;
  text-align: center;
}

table.mout-bo-table th:nth-of-type(2) {
  text-align: left;
}

table.mout-bo-table th {
  padding: 5px;
  text-align: center;
}

div.mout-admin-double-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.mout-admin-double-container div.right-container div.right-content {
  padding: 25px 20px;
}

h2.mout-bo-title-3-edit-page {
  font-size: 18px;
  font-family: "Assistant";
}

div.mout-client-card-container {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

div.mout-client-card-container div.mout-client-card-left-content {
  width: 45%;
  padding: 20px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

div.mout-client-card-container div.mout-client-card-left-content h3.mout-title-client-card {
  color: #D5D5D5;
  font-size: 40px;
  font-family: "Assistant";
}

div.mout-client-card-container div.mout-client-card-left-content h4.mout-title-client-name {
  color: #000000;
  font-size: 45px;
  text-transform: uppercase;
  font-family: "Assistant";
  line-height: 65px;
}

div.mout-client-card-container div.mout-client-card-left-content p {
  font-size: 20px;
  font-family: "Assistant";
  line-height: 50px;
  margin-bottom: 0;
}

div.mout-client-card-container div.mout-client-card-left-content p.mout-client-card-info-bolder {
  font-weight: 700;
}

div.mout-client-card-container div.mout-client-card-left-content p.mout-client-card-city-informations {
  padding-left: 35px;
  line-height: inherit;
}

div.mout-client-card-container div.mout-client-card-left-content span i.contact-icon {
  margin-right: 20px;
}

div.mout-client-card-container div.mout-client-card-left-content span i.contact-smiley {
  color: #62E600;
}

div.mout-client-card-container div.mout-client-card-right-content {
  width: 45%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-row-gap: 30px;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container {
  display: grid;
  grid-template-rows: 115px 40px 60px;
  width: 80%;
  justify-self: center;
  text-align: center;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container p:nth-of-type(1) {
  font-size: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container p.mout-client-card-title {
  font-family: "Assistant";
  font-weight: 200;
  font-size: 20px;
  align-self: center;
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container p.mout-client-card-title + p,
div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container p.mout-client-card-title span.mout-client-card-total-ca-span {
  font-weight: 700;
  font-size: 25px;
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container p#mout-client-created-at {
  background: #03DBC2;
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container p#mout-client-ca {
  background: #D90000;
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container p#mout-client-estimations {
  background: #FF9D00;
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container p#mout-client-bills {
  background: #7A63F9;
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container p#mout-client-total-ca {
  background: #03DBC2;
  grid-row: 1 / -1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container:last-of-type {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: 150px;
  width: 90%;
}

div.mout-client-card-container div.mout-client-card-right-content div.mout-client-card-right-informations-container p#mout-client-total-ca-price {
  grid-row: 1 / -1;
}

i.green-circle {
  color: green;
}

i.red-circle {
  color: red;
}

div.bo-mout-pagination {
  margin: 2em 1em 0;
  justify-content: flex-end;
  display: flex;
}

.page-item.active .page-link {
  background-color: #259dab !important;
  border-color: #259dab !important;
  color: #ffffff !important;
}

.page-link {
  color: #000000 !important;
}

ul.transport-item li {
  list-style: none;
  margin-top: 16px !important;
  margin-left: 0 !important;
}

li.placeholder-list {
  height: 2.5em;
  line-height: 2.5em;
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
}

div.mout-admin-dashboard-information-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

div.mout-admin-dashboard-information-container div.mout-admin-dashboard-information-header-content {
  align-self: center;
}

div.mout-admin-dashboard-information-container div.mout-admin-dashboard-information-content p {
  font-family: "Assistant";
}

div.mout-admin-dashboard-information-container div.mout-admin-dashboard-information-content p:nth-of-type(1) {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 20px;
}

div.mout-admin-dashboard-information-container div.mout-admin-dashboard-information-content p:nth-of-type(2) {
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
}

div.mout-bo-panel-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

div.mout-bo-panel-container div.mout-bo-panel {
  min-width: 350px;
  display: grid;
  grid-template-columns: 100px auto;
  color: #ffffff;
  border-radius: 5px;
}

div.mout-bo-panel-container div.mout-bo-panel:nth-of-type(1) {
  background-color: #7A63F9;
}

div.mout-bo-panel-container div.mout-bo-panel:nth-of-type(2) {
  background-color: #D90000;
}

div.mout-bo-panel-container div.mout-bo-panel:nth-of-type(3) {
  background-color: #03DBC2;
}

div.mout-bo-panel-container div.mout-bo-panel div.mout-bo-panel-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 5px 0 0 5px;
  background-color: #f6f7f8;
}

div.mout-bo-panel-container div.mout-bo-panel div.mout-bo-panel-libelle {
  font-family: "Assistant";
  padding: 15px 15px 10px;
}

div.mout-bo-panel-container div.mout-bo-panel div.mout-bo-panel-libelle p {
  margin-bottom: 0;
}

div.mout-bo-panel-container div.mout-bo-panel div.mout-bo-panel-libelle p:nth-of-type(1) {
  font-size: 14px;
  font-weight: 400;
}

div.mout-bo-panel-container div.mout-bo-panel div.mout-bo-panel-libelle p:nth-of-type(2) {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  position: relative;
}

div.mout-bo-panel-container div.mout-bo-panel div.mout-bo-panel-libelle p:nth-of-type(2):before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #ffffff;
  width: 100%;
  top: 5px;
  left: 0;
}

div.mout-bo-panel-container div.mout-bo-panel div.mout-bo-panel-libelle p:nth-of-type(2) sup {
  font-size: 12px;
  top: -2em;
  left: 6px;
}

/** MOUT GESTION DES FORMS **/

.mout-form {
  min-width: 35%;
  margin: 2em 0 2em;
}

.mout-form-double-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mout-form-double-container div.left-form-container {
  padding: 0 20px 20px 0;
}

.mout-form-double-container H3 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Assistant";
  font-weight: 600;
}

/** delete box shadow bootstrap **/

.form-control:focus {
  box-shadow: none !important;
}

/** SPECIFICITES SITE EN COURS **/

legend {
  font-family: "AristaProAlternateExtraLight";
  color: #707070;
  /*couleur  label à changer si besoin*/
  font-size: 22px;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0;
}

.legend-contact {
  display: none;
}

.floating-label {
  position: relative;
  margin-bottom: 30px;
}

.floating-input,
.floating-select {
  font-family: "Assistant";
  font-weight: 200;
  font-size: 14px !important;
  padding: 4px 4px !important;
  display: block;
  width: 100% !important;
  height: 30px !important;
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #757575 !important;
  border-radius: 0 !important;
}

.floating-input:focus,
.floating-select:focus {
  outline: none;
  border-bottom: 2px solid #707070;
  background: transparent;
}

label.float {
  color: #707070;
  font-family: "AristaProAlternate";
  font-weight: 200;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 2px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label.float,
.floating-input:not(:placeholder-shown) ~ label.float {
  top: -18px;
  font-size: 14px;
  color: #343a40;
}

.floating-select:focus ~ label.float,
.floating-select:not([value=""]):valid ~ label.float {
  top: -18px !important;
  font-size: 14px !important;
  color: #343a40 !important;
}

/* active state */

.floating-input:focus ~ .bar:before,
.floating-input:focus ~ .bar:after,
.floating-select:focus ~ .bar:before,
.floating-select:focus ~ .bar:after {
  width: 50%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.floating-input.floating-textarea {
  height: auto;
}

/* highlighter */

.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */

.floating-input:focus ~ .highlight,
.floating-select:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animation */

@-webkit-keyframes inputHighlighter {
  from {
    background: #ffec00;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #ffec00;
  }

  to {
    width: 0;
    background: transparent;
  }
}

body {
  color: #262b36 !important;
}

.btn:focus,
.btn.focus {
  box-shadow: none !important;
}

/**
CONTAINER
**/

.mout-container-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mout-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media all and (min-width: 576px) {
  .mout-container {
    max-width: 540px;
  }
}

@media all and (min-width: 768px) {
  .mout-container {
    max-width: 750px;
  }
}

@media all and (min-width: 1024px) {
  .mout-container {
    max-width: 960px;
  }
}

@media all and (min-width: 1200px) {
  .mout-container {
    max-width: 1160px;
  }
}

@media all and (min-width: 1400px) {
  .mout-container {
    max-width: 1340px;
  }
}

/**
/CONTAINER
**/

/**
GRIDS
 */

.grid-auto,
.grid {
  display: grid;
  display: -ms-grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

[class*=" grid-"].has-gutter,
[class^=grid-].has-gutter {
  grid-gap: 1rem;
}

[class*=" grid-"].has-gutter-l,
[class^=grid-].has-gutter-l {
  grid-gap: 2rem;
}

[class*=" grid-"].has-gutter-xl,
[class^=grid-].has-gutter-xl {
  grid-gap: 4rem;
}

[class*=grid-2] {
  -ms-grid-columns: 1fr [2];
  grid-template-columns: repeat(2, 1fr);
}

[class*=grid-3] {
  -ms-grid-columns: 1fr [3];
  grid-template-columns: repeat(3, 1fr);
}

[class*=grid-4] {
  -ms-grid-columns: 1fr [4];
  grid-template-columns: repeat(4, 1fr);
}

[class*=grid-5] {
  -ms-grid-columns: 1fr [5];
  grid-template-columns: repeat(5, 1fr);
}

[class*=grid-6] {
  -ms-grid-columns: 1fr [6];
  grid-template-columns: repeat(6, 1fr);
}

[class*=grid-7] {
  -ms-grid-columns: 1fr [7];
  grid-template-columns: repeat(7, 1fr);
}

[class*=grid-8] {
  -ms-grid-columns: 1fr [8];
  grid-template-columns: repeat(8, 1fr);
}

[class*=grid-9] {
  -ms-grid-columns: 1fr [9];
  grid-template-columns: repeat(9, 1fr);
}

[class*=grid-10] {
  -ms-grid-columns: 1fr [10];
  grid-template-columns: repeat(10, 1fr);
}

[class*=grid-11] {
  -ms-grid-columns: 1fr [11];
  grid-template-columns: repeat(11, 1fr);
}

[class*=grid-12] {
  -ms-grid-columns: 1fr [12];
  grid-template-columns: repeat(12, 1fr);
}

[class*=grid-col-1] {
  grid-column: auto/span 1;
}

[class*=grid-row-1] {
  grid-row: auto/span 1;
}

[class*=grid-col-2] {
  grid-column: auto/span 2;
}

[class*=grid-row-2] {
  grid-row: auto/span 2;
}

[class*=grid-col-3] {
  grid-column: auto/span 3;
}

[class*=grid-row-3] {
  grid-row: auto/span 3;
}

[class*=grid-col-4] {
  grid-column: auto/span 4;
}

[class*=grid-row-4] {
  grid-row: auto/span 4;
}

[class*=grid-col-5] {
  grid-column: auto/span 5;
}

[class*=grid-row-5] {
  grid-row: auto/span 5;
}

[class*=grid-col-6] {
  grid-column: auto/span 6;
}

[class*=grid-row-6] {
  grid-row: auto/span 6;
}

[class*=grid-col-7] {
  grid-column: auto/span 7;
}

[class*=grid-row-7] {
  grid-row: auto/span 7;
}

[class*=grid-col-8] {
  grid-column: auto/span 8;
}

[class*=grid-row-8] {
  grid-row: auto/span 8;
}

[class*=grid-col-9] {
  grid-column: auto/span 9;
}

[class*=grid-row-9] {
  grid-row: auto/span 9;
}

[class*=grid-col-10] {
  grid-column: auto/span 10;
}

[class*=grid-row-10] {
  grid-row: auto/span 10;
}

[class*=grid-col-11] {
  grid-column: auto/span 11;
}

[class*=grid-row-11] {
  grid-row: auto/span 11;
}

[class*=grid-col-12] {
  grid-column: auto/span 12;
}

[class*=grid-row-12] {
  grid-row: auto/span 12;
}

[class*=grid-col-all] {
  grid-column: 1 / -1;
}

[class*=grid-row-all] {
  grid-row: 1 / -1;
}

[class*=grid-align-top] {
  align-self: start;
}

[class*=grid-align-mid] {
  align-self: center;
}

[class*=grid-align-bot] {
  align-self: end;
}

[class*=grid-justif-top] {
  justify-self: start;
}

[class*=grid-justif-mid] {
  justify-self: center;
}

[class*=grid-justif-bot] {
  justify-self: end;
}

/**
/GRIDS
 */

/** FLEX **/

.dflex {
  display: flex;
}

.dflex.col {
  flex-direction: column;
}

.dflex.just-top {
  justify-content: start;
}

.dflex.just-mid {
  justify-content: center;
}

.dflex.just-bot {
  justify-content: end;
}

.dflex.align-top {
  align-items: start;
}

.dflex.align-mid {
  align-items: center;
}

.dflex.align-bot {
  align-items: end;
}

/** FLEX **/

/** TAILLES **/

.height-25 {
  height: 25%;
}

.height-50 {
  height: 50%;
}

.height-100 {
  height: 100%;
}

/** TAILLES **/

h1 {
  color: #5eb5e0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e30000;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #349360;
}

input:focus + .slider {
  box-shadow: 0 0 1px #349360;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

[class*=" mout-btn-"] {
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 700 !important;
}

[class*=" mout-btn-"]:hover .btn-label {
  opacity: 1;
  margin-right: 10px;
}

.mout-btn-add {
  background-color: #D90000 !important;
}

.mout-btn-login,
.mout-btn-edit {
  background-color: #7A63F9 !important;
}

.mout-btn-other {
  background-color: #03DBC2 !important;
}

.mout-btn-pdf {
  background-color: #FF9D00 !important;
}

.btn-label {
  opacity: 0;
}

div.mout-client-card-right-informations-container {
  cursor: pointer;
}

div#estimation-table-container {
  display: none;
}

div#estimation-table-container.active {
  display: block;
}

div#invoice-table-container {
  display: none;
}

div#invoice-table-container.active {
  display: block;
}

H3.mout-admin-title {
  text-transform: uppercase;
  font-family: "Assistant";
  font-weight: 700;
  font-size: 28px;
}

div.mout-admin-estimation-container {
  font-family: "AristaProAlternate";
}

div.mout-admin-container {
  display: flex;
}

div.mout-admin-estimation-right-panel {
  display: flex;
  align-items: center;
}

div.mout-admin-estimation-right-panel > p {
  font-family: "Assistant";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 0;
}

div.mout-admin-estimation-right-panel label {
  margin-bottom: 0;
}

div.mout-admin-left-panel {
  width: calc(50% - 50px);
  margin-right: 50px;
}

div.mout-admin-right-panel {
  width: calc(50% - 50px);
  float: right;
}

div#estimation-action-2 {
  margin: 1em 0;
}

div#estimation-action-3 {
  display: none;
}

div#estimation-action-3.estimation-action-active {
  display: block;
}

div.mout-estimation-header-container,
div.mout-estimation-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div.mout-estimation-header-container h3#mout-estimation-number,
div.mout-estimation-footer-container h3#mout-estimation-number {
  margin: 2em 0 1em;
  font-family: "AristaProAlternateHairline";
  font-size: 30px;
  position: relative;
  width: 36%;
}

div.mout-estimation-header-container h3#mout-estimation-number span.mout-estimation-number,
div.mout-estimation-footer-container h3#mout-estimation-number span.mout-estimation-number {
  font-family: "AristaProAlternate";
}

div.mout-estimation-header-container h3#mout-estimation-number::after,
div.mout-estimation-footer-container h3#mout-estimation-number::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -2px;
  width: 100%;
  height: 3px;
  background: #ffed3b;
}

div.mout-estimation-header-container p#mout-estimation-date,
div.mout-estimation-footer-container p#mout-estimation-date {
  margin: 2em 0 1em;
  font-family: "AristaProAlternateHairline";
  width: 33%;
  font-size: 20px;
}

H4.mout-estimation-client-name {
  text-transform: uppercase;
  font-size: 20px;
}

p.mout-estimation-contact-informations {
  font-family: "AristaProAlternateLight";
  margin-bottom: 0;
}

H4.mout-estimation-description-title {
  margin-top: 3em;
  font-family: "AristaProAlternate";
  font-size: 20px;
  position: relative;
}

H4.mout-estimation-description-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -2px;
  width: 100%;
  height: 2px;
  background: #ffed3b;
}

p.mout-estimation-description-body {
  margin-top: 1.5em;
}

p#mout-estimation-blank {
  position: relative;
  line-height: 2em;
}

p#mout-estimation-blank::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -2px;
  width: 100%;
  height: 2px;
  background: #ffed3b;
}

div.mout-estimation-footer-container {
  align-items: flex-start;
  margin-top: 2em;
  font-family: "AristaProAlternateLight";
  font-size: 18px;
}

div.mout-estimation-footer-container div.mout-estimation-bill-container {
  display: flex;
  justify-content: flex-end;
  font-family: "AristaProAlternate";
  font-size: 20px;
}

div.mout-estimation-footer-container div.mout-estimation-bill-container div.mout-estimation-bill-content-details {
  margin-right: 3em;
}

div.mout-estimation-footer-container div.mout-estimation-bill-container div.mout-estimation-bill-content-details p {
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: right;
}

div.mout-estimation-footer-container div.mout-estimation-bill-container div.mout-estimation-bill-content-price p {
  margin-bottom: 0;
  text-align: right;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
  border-bottom: 0px !important;
}

div.container-fluid {
  padding: 0;
}

form#loginform,
form#registerForm {
  width: 45%;
}

div.mout-public-login-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

div.mout-public-login-container div.mout-public-login-left-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.mout-public-login-container div.mout-public-login-left-panel h1 {
  font-family: "Assistant";
  color: black;
  font-size: 60px;
  font-weight: 700;
}

div.mout-public-login-container div.mout-public-login-right-panel {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.mout-public-login-container div.mout-public-login-right-panel h2 {
  font-family: "AristaProAlternate";
  font-size: 80px;
  color: white;
}

table.mout-estimation-table td {
  border: 0;
  font-family: "AristaProAlternateLight";
}

table.mout-estimation-table th {
  font-family: "AristaProAlternate";
  font-size: 25px;
  text-transform: uppercase;
}

table td.estimation-title {
  font-family: "AristaProAlternate";
  font-size: 20px;
}


